html {
    height: 100%;
    overflow: hidden;
}

body {
    height: inherit;
    margin: 0;
}

main, footer {
    align-items: center;
    display: flex;
    justify-content: center;
}

main {
    height: 90%;
}

#heart-image {
    animation: pulse 1s infinite;
    height: 40vw;
}

@keyframes pulse {
    10% {
        transform: scale(1.1);
    }
}

footer {
    height: 10%;
}

#footer-text {
    font-family: 'Balsamiq Sans', cursive;
}
