body {
    margin: 0;
}

main, footer {
    align-items: center;
    display: flex;
    justify-content: center;
}

main {
    height: 90%;
}

#main-text {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 10vw;
}

footer {
    height: 10%;
}

#footer-text {
    font-family: 'Balsamiq Sans', cursive;
}
